// Define fonts for body and headers
$body-font: "Graphik-Light";
$headers-font: "CircularStd-Black";

@font-face {
  font-family: "CircularStd-Black";
  src: font-url('CircularStd/CircularStd-Black.eot');
  src: font-url('CircularStd/CircularStd-Black.eot?#iefix') format('embedded-opentype'),
       font-url('CircularStd/CircularStd-Black.woff') format('woff'),
       font-url('CircularStd/CircularStd-Black.woff2') format('woff2'),
       font-url('CircularStd/CircularStd-Black.ttf') format('truetype'),
       font-url('CircularStd/CircularStd-Black.svg#CircularStd-Black') format('svg');
  font-display: swap;
}

@font-face {
  font-family: "Graphik-Light";
  src: font-url('Graphik/Graphik-Light.eot');
  src: font-url('Graphik/Graphik-Light.eot?#iefix') format('embedded-opentype'),
       font-url('Graphik/Graphik-Light.woff') format('woff'),
       font-url('Graphik/Graphik-Light.ttf') format('truetype');
  font-display: swap;
}
